@charset "UTF-8";

header {
    margin-bottom: 50px;
}

main {
    margin: auto;
    text-align: center;
    padding: 20px;
    

    background-color: #1b0f2fb9;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    width: 90%;
    

    color: white;
}

main > .video {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    max-width: 600px;
}


.video > iframe {
    width: 100%;
    border: none;
    

}

.titulo {
    margin: 15px;
}

.nav-filme {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;

   
    padding: 20px;
}

main > .nav-filme> a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #9D4EDD;
    border-radius: 10px;
    margin: 10px;
    white-space: nowrap;
    transition: all 0.3s ease;
    


    text-align: center;
}

.nav-filme a:hover {
    background-color: #d07cff;
}


.sinopse {
    margin: auto;
    margin-top: 20px;
    width: 70%;
    padding: 10px;
    text-align: justify;
    color: white;
}

.avaliacao-box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #9D4EDD;
  border-radius: 12px;
  
  max-width: 600px;
  margin: 20px auto;
  width: 70%;
  color: white;

  
  
}

.avaliar {
  display: flex;
  align-items: center;
  gap: 8px;
  
}

.label {
  font-weight: bold;
}

.estrelas span {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.estrelas span.ativa {
  color: gold;
}

.btn-acao {
  border: none;
  background: none;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.btn-acao:hover {
  background-color: #d07cff;
}

.btn-acao .icon {
  margin-right: 6px;
}

.btn-acao.full {
  width: 100%;
  border: 1px solid #d07cff;
  padding-top: 12px;
  margin-top: 8px;
  justify-content: center;
}







