@charset "UTF-8";

@media screen and (max-width: 767px) {
    #slogan {
        font-size: 0.6em;
    }

    #explorar #nav-filmes a {
        font-size: 1.1em;
    }
    
    .menu {
        display: none;
    }

    .menu-mobile.abrir {
        visibility: visible;
        height: calc(100vh  - 79px);
    }

    #btn-menu {
        display: block;
    } 

      .banner-promocional {
        flex-direction: column;
        align-items: center;
        width: 90%;
        
      }

      .botao-banner {
        margin-top: 12px;
        margin-left: 0;
      }
    }

    
    
