@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

   
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #1B0F2F, #24133f );
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header > p {
    color: white;
    font-weight: 600;
    font-size: 1.4em;
    padding-left: 30px;
}

header > nav > a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 1.3em;
    padding-right: 30px;
}

#botao {
    color: white;
    font-size: 3em;
    text-align: center;
    margin-top: 50px;

}

#botao > button {
    background-color: #9D4EDD;
    width: 200px;
    height: 70px;
    margin-top: 20px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;

}

#explorar {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;

}

#explorar > nav > a {
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 1.2em;
    font-weight: 600;
    
}


/* CARROSSEL FILMES */

.container-carrossel {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.carrossel {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.carrossel::-webkit-scrollbar {
  display: none;
}

.filme {
  flex: 0 0 auto;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.filme img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.filme img:hover {
  transform: scale(1.05);
}

.botao-navegacao {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.botao-navegacao.esquerda {
  left: 0;
}

.botao-navegacao.direita {
  right: 0;
}

.botao-navegacao:hover {
  background-color: rgba(255, 255, 255, 0.3);
}