@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

   
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #1B0F2F, #24133f );
}

body::-webkit-scrollbar {
  display: none;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

header > p {
    color: white;
    font-weight: 600;
    font-size: 1.4em;
    padding-left: 30px;
    
    
}

header > nav > a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 1.3em;
    padding-right: 30px;
    
    
    
}


 .menu-item {
      position: relative;
      color: #fff;
      cursor: pointer;
      padding: 10px 15px;
      transition: color 0.3s ease;
    }

    .menu-item::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0%;
      background: linear-gradient(90deg, #9D4EDD, #9D4EDD);
      transition: width 0.4s ease;
    }

    .menu-item:hover::after {
      width: 100%;
    }

    .menu-item:hover {
      
      text-shadow: 0 0 5px #ffffff86;
    }

#botao {
    color: white;
    font-size: 3em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    
}

#botao > button {
    background-color: #9D4EDD;
    width: 200px;
    height: 70px;
    margin-top: 20px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    

}

  #botao > button:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
  }


   




/* CARROSSEL FILMES */

.container-carrossel {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  margin-top: 10px;
}

.paragrafo {
    color: white;
    padding: 30px;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: -10px;
    margin-left: -15px;
    
}

.carrossel {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.carrossel::-webkit-scrollbar {
  display: none;
}

.filme {
  flex: 0 0 auto;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.filme img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.filme img:hover {
  transform: scale(1.05);
}

.botao-navegacao {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.botao-navegacao.esquerda {
  left: 0;
}

.botao-navegacao.direita {
  right: 0;
}

.botao-navegacao:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* MENU MOBILE */

.menu-mobile {
    background-color: rgba(0, 0, 0, 0.555);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    height: 0px;
    visibility: hidden;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
    
}

.menu-mobile > nav > a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px 30px;
  font-size: 1.4em;

}

.menu-mobile > nav > a:hover {
    background: linear-gradient(to right, #1b0f2fb9, #24133f88 );
}

#btn-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  margin-right: 20px;
  
}

/* BANNER PROMOCIONAL */
  
 .banner-promocional {
    display: flex;
    align-items: center;
    background-color: #9D4EDD;
    
    color: white;
    border-radius: 12px;
    padding: 16px 24px;
    max-width: 600px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: auto;
  }

  .banner-promocional:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
  }

  .icone-banner {
    font-size: 36px;
    margin-right: 16px;
  }

  .conteudo-banner {
    flex-grow: 1;
  }

  .titulo-banner {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
  }

  .descricao-banner {
    font-size: 14px;
    color: #ccc;
  }

  .botao-banner {
    background-color: #3a365e;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    margin-left: 16px;
    transition: background-color 0.2s ease;
  }

  .botao-banner:hover {
    background-color: #57507a;
  }

  /* RODAPE  */

  footer {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    display: flex;
    
  }

  #direitos {
    text-align: center;
    color: white;
  }

  .info {
    width: 70%;
    height: 200px;
    color: white;
    margin: auto;
    
    
  }

  .info > p > a {
    color: rgb(150, 148, 148);
    
  }

   